{% extends "base.html" %}

{% block content %}
<h1>Изменение уровня доступа</h1><br>
<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.levels.label }}<br>
        {{ form.levels(class="form-control", type="email") }}<br>
        {% for error in form.levels.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p align="right">{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}